.popup{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    background-color: #1e6f5c;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.44);
    padding: 1rem;
}

.player{
    font-size: 3rem;
}

.counter{
    display: flex;
    flex-grow: 1;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.countdown{
    position: absolute;
    z-index: 500;
}

.animate{
    animation-duration: 1.5s;
    animation-name: slidein;
}

.animate2{
    animation-duration: 1.5s;
    animation-name: slidein2;
}

@keyframes slidein {
    from {
        font-size: 100px;
    }
  
    to {
        font-size: 500px;
    }
  }

  @keyframes slidein2 {
    from {
        font-size: 100px;
    }
  
    to {
        font-size: 500px;
    }
  }

@media (max-width: 480px) {
    .player{
        font-size: 2rem;
        text-align: center;
    }
  }